.menu {
  color: #A7d2cb; }

header {
  width: 300px;
  color: #A7d2cb; }

main {
  width: 600px;
  color: #f2D388; }
  main .boton-standard {
    background-color: white;
    color: white; }
  main h2 {
    color: nth black, red, grey, 3; }

footer {
  width: 200px;
  color: black; }
